<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">

            <li>

                @Html.ActionLink("Example ", "Ques2", "Home")


                @Html.ActionLink("View Student Details", "DetailsStudent", "Home")

                @Html.ActionLink("View Login Details", "DetailsLogin", "Home")
                @Html.ActionLink("Question1 ", "Ques1", "Home")
                @Html.ActionLink("Question2 ", "Ques2Theory", "Home")

                @Html.ActionLink("Question 3 ", "Ques3", "Home")
                @Html.ActionLink("Question 4 ", "Ques4", "Home")
                @Html.ActionLink("Question 5 ", "Ques5", "Home")

            </li>

        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>

