
@page "/Register"
@layout LoginLayout

@using BlazorAssignment1.Data.Services
@using BlazorAssignment1.Data.Models
@inject LoginServices loginservice
@inject NavigationManager navigationManager


<form>
    <div class="row">
        <div class="col-md-10">
            <div class=" form-group">
                <label for="Name" class="control-label">Name</label>
                <input form="Name" class="form-control" @bind="@objLogin.Name" />
            </div>

            <div class=" form-group">
                <label for="Email" class="control-label">Email</label>
                <input form="Email" class="form-control" @bind="@objLogin.Email" />
            </div>
            <div class=" form-group">
                <label for="Mobile" class="control-label">Mobile</label>
                <input form="Mobile" class="form-control" @bind="@objLogin.Mobile" />
            </div>
            <div class=" form-group">
                <label for="Password" class="control-label">Password</label>
                <input form="Password" class="form-control" @bind="@objLogin.Password" />
            </div>


        </div>

    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@RegisterData" value="Register" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="cancel" />

            </div>
        </div>
    </div>
</form>


@code {
    LoginInfo objLogin = new LoginInfo();

    protected void RegisterData()
    {
        loginservice.Register(objLogin);
        navigationManager.NavigateTo("Login");
    }
    void Cancel()
    {
        navigationManager.NavigateTo("Login");
    }


}
